
<style type="text/css">
html {
  background: url('/images/user-form_background.jpeg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
</style>

<div id="user-forms">
  <div id="login-button" onclick="openBtb()">
    <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
    </img>
  </div>
  <div id="container">
    <h1>Log In</h1>
    <span class="close-btn" onclick="closeBtn()">
      <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
    </span>

    <form action="/auth/login" method="POST" id="user-form">
      <input type="email" name="email" placeholder="E-mail" id="email" required>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <a href="#" onclick="document.getElementById('user-form').submit();">Log in</a>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
  </form>
  </div>
</div>

<script>
  function openBtb() {
    document.getElementById("login-button").style.display = "none";
    document.getElementById("container").style.display = "block";
  }

  function closeBtn() {
    document.getElementById("login-button").style.display = "block";
    document.getElementById("container").style.display = "none";
  }
</script>