<h1>Hello, {{username}}!</h1>

<form action='/logout' method='post'>
  <button type='submit'> Logout</button>
</form>


<div class='profile-photo'>
      <label for='image'>
        Profile photo:
        <input type='file' name='image' />
      </label>
      <button type="submit">Submit</button>
    </div>


<form action='/profile-edit' method='post'>
  <button type='submit'> Edit profile</button>
</form>
