{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Find your restaurant</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <button>Find me</button>
  </div>
</div>

{{! <div
  class="nectar-shape-divider-wrap"
  style=" height:400px;"
  data-height="400"
  data-front=""
  data-style="waves_opacity_alt"
  data-position="top"
><svg
    class="nectar-shape-divider"
    aria-hidden="true"
    fill="#ffffff"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 300"
    preserveAspectRatio="none"
  >
    <path
      d="M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z"
    ></path>
    <path
      d="M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z"
    ></path>
    <path
      d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z"
    ></path>
  </svg></div> }}

<svg
  width="100%"
  height="100%"
  id="svg"
  viewBox="0 0 1440 400"
  xmlns="http://www.w3.org/2000/svg"
  class="transition duration-300 ease-in-out delay-150"
><path
    d="M 0,400 C 0,400 0,100 0,100 C 148.53333333333336,84.26666666666667 297.0666666666667,68.53333333333333 472,75 C 646.9333333333333,81.46666666666667 848.2666666666667,110.13333333333334 1014,118 C 1179.7333333333333,125.86666666666666 1309.8666666666668,112.93333333333334 1440,100 C 1440,100 1440,400 1440,400 Z"
    stroke="none"
    stroke-width="0"
    fill="#00d084"
    fill-opacity="0.4"
    class="transition-all duration-300 ease-in-out delay-150 path-0"
  ></path><path
    d="M 0,400 C 0,400 0,200 0,200 C 158.13333333333333,201.73333333333335 316.26666666666665,203.46666666666667 475,211 C 633.7333333333333,218.53333333333333 793.0666666666666,231.86666666666665 954,231 C 1114.9333333333334,230.13333333333335 1277.4666666666667,215.06666666666666 1440,200 C 1440,200 1440,400 1440,400 Z"
    stroke="none"
    stroke-width="0"
    fill="#00d084"
    fill-opacity="0.53"
    class="transition-all duration-300 ease-in-out delay-150 path-1"
  ></path><path
    d="M 0,400 C 0,400 0,300 0,300 C 149.7333333333333,291.8666666666667 299.4666666666666,283.7333333333333 468,277 C 636.5333333333334,270.2666666666667 823.8666666666668,264.93333333333334 989,269 C 1154.1333333333332,273.06666666666666 1297.0666666666666,286.5333333333333 1440,300 C 1440,300 1440,400 1440,400 Z"
    stroke="none"
    stroke-width="0"
    fill="#00d084"
    fill-opacity="1"
    class="transition-all duration-300 ease-in-out delay-150 path-2"
  ></path></svg>