<form
  action="/auth/profile-edit/{{_id}}"
  method="post"
  enctype="multipart/form-data"
>

  <label for="name"><b>Name</b></label>
  <br />
  <input type="text" name="username" id="name" value="{{username}}" required />

  <div class="form-group">
    <label for="image">
      Profile photo:
      <input type="file" name="image" class="form-control-file" />
    </label>
  </div>
  <input type="text" name="currentImg" value="imageUrl" hidden />
  <button type="submit">Save changes</button>
</form>