<form action="/restaurant-edit/{{_id}}" method="post">

  <label for="name"><b>Name</b></label>
  <br />
  <input type="text" name="name" id="name" value="{{name}}" required />
</form>




<button type='submit'>Save changes</button>