body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #f57300;
  text-decoration: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  right: 50px;
  top: 35px;
  position: fixed;
  z-index: 1;
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* PRELOADER */

#preloader {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#preloader ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
#preloader ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  animation: grow 1.6s ease-in-out infinite;
}

/* Define animation */
@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}

/* Define li properties */
#preloader ul li:nth-child(1) {
  animation-delay: -1.4s;
  background: #ffff00;
  box-shadow: 0 0 50px #ffff00;
}
#preloader ul li:nth-child(2) {
  animation-delay: -1.2s;
  background: #76ff03;
  box-shadow: 0 0 50px #76ff03;
}
#preloader ul li:nth-child(3) {
  animation-delay: -1s;
  background: #f06292;
  box-shadow: 0 0 50px #f06292;
}
#preloader ul li:nth-child(4) {
  animation-delay: -0.8s;
  background: #4fc3f7;
  box-shadow: 0 0 50px #4fc3f7;
}
#preloader ul li:nth-child(5) {
  animation-delay: -0.6s;
  background: #ba68c8;
  box-shadow: 0 0 50px #ba68c8;
}
#preloader ul li:nth-child(6) {
  animation-delay: -0.4s;
  background: #f57300;
  box-shadow: 0 0 50px #f57300;
}
#preloader ul li:nth-child(7) {
  animation-delay: -0.2s;
  background: #673ab7;
  box-shadow: 0 0 50px #673ab7;
}

/* STARS RATING */
.rating {
  border: none;
  margin-left: -3px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating > label {
  color: #90a0a3;
}

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #fece31;
}

.simple-rating-filled:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
  color: #f79426;
}

.simple-rating-empty:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
  color: #90a0a3;
}

/** HERO IMAGE */
.hero-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/home-bg.jpeg");
  min-height: 100vh;
}

.hero-my-restaurants {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/page-bg.jpg");
  min-height: 40vh;
}

.hero-my-restaurants .hero-text {
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-home .hero-text {
  top: 25vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  font-size: 18px;
}

.nectar-shape-divider {
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 100%;
  position: absolute;
}
.nectar-shape-divider-wrap[data-style="curve_opacity"] svg path:nth-child(1),
.nectar-shape-divider-wrap[data-style="waves_opacity_alt"]
  svg
  path:nth-child(1) {
  opacity: 0.15;
}
.nectar-shape-divider-wrap[data-style="curve_opacity"] svg path:nth-child(2),
.nectar-shape-divider-wrap[data-style="waves_opacity_alt"]
  svg
  path:nth-child(2) {
  opacity: 0.3;
}

svg {
  margin-top: -75vh;
}

/* CREATE RESTAURANT */

.rest-create #map {
  width: 100%;
  height: 100%;
}

.rest-create .column {
  float: left;
  width: 50%;
  max-height: 500px;
  overflow: hidden;
}
.rest-create .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .rest-create .column {
    width: 100%;
  }
}

/*********** SHAPE DIVIDERS***********/

/* Home */
.custom-shape-divider-bottom-1668019031 {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668019031 svg {
  position: relative;
  display: block;
  width: calc(250% + 1.3px);
  height: 500px;
  margin-top: 0;
}

.custom-shape-divider-bottom-1668019031 .shape-fill {
  fill: #ffffff;
}

/* Triangle */
.custom-shape-divider-bottom-1668019210 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668019210 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 101px;
  margin-top: 55vh;
}

.custom-shape-divider-bottom-1668019210 .shape-fill {
  fill: #ffffff;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 5rem 3vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  max-height: 200px;
}

.cards li {
  min-height: 275px;
  margin-bottom: 3vh;
  padding: 20px;
  max-width: 25vw;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
  text-align: center;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: white;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: white;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* TWO COLUMNS LAYOUT */
.row-restaurants {
  position: relative;
}

.column {
  float: left;
}

.column-left {
  width: 35%;
}

.column-right {
  float: left;
  width: 65%;
}

.column-inner {
  padding: 3vw;
}

.column-inner #imgRestaurant {
  transition: 0.5s ease;
  border-radius: 10px;
}

.column-inner #imgRestaurant:hover {
  box-shadow: 0 0 0 3px #18c9a0;
  transition: 0.5s ease;
}

.row-restaurants:after {
  content: "";
  display: table;
  clear: both;
}

.slide-bottom {
  -webkit-animation: slide-bottom 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-center {
  -webkit-animation: scale-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes scale-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* BUTTONS */

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.btn-delete {
  background-color: #d92616;
}

.btn-delete:hover,
.btn-delete:focus {
  background-color: #e0493b;
}

.btn-delete:active {
  background-color: #e0493b;
}

/* MAP */
embed.map {
  width: 100%;
  min-height: 500px;
}

/* USER COMMENTS */
.user-comment-box form {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  margin: 0 auto;
}

.user-comment-box {
  text-align: center;
}

.user-comments {
  border: 2px solid #fa6400;
  background-color: #fceeee;
  border-radius: 5px;
  padding: 16px;
  max-width: 25vw;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.user-comments::after {
  content: "";
  clear: both;
  display: table;
}

.user-comments img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  max-height: 200px;
  width: fit-content;
  margin: 15px auto;
}

.user-comments form {
  float: right;
}

.user-comments form button {
  color: white;
  background-color: #fa6400;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  float: right;
}

.user-comments form button:hover {
  float: right;
  cursor: pointer;
  background-color: #f57926;
}

.user-comments span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .user-comments {
    text-align: center;
  }
  .user-comments img {
    margin: auto;
    float: none;
    display: block;
  }
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 1;
  position: relative;
  margin: 5vh auto;
  width: 30vw;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

/* REVIEW */
.review-form {
  position: relative;
  text-align: center;
  margin: 25px 0 50px;
}

.review-form .rating {
  justify-content: center;
}

.review-btns {
  display: flex;
}

.review-btns form {
  margin: 0;
}

/* FOOTER */
.footer {
  font-size: 18px;
  width: 100%;
  background-color: white;
  color: #333;
  border-top: 1px solid #eee;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 0px 2px #888, 0px 9px 25px #888;
  z-index: 3;
}

.cards-card-4,
.cards-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  width: 25%;
  transition: transform 0.3s ease-out;
}

.cards-card-4 img {
  width: 100%;
}

.cards-card-4:hover {
  transform: translate(0, -15px);
}

.cards-center {
  text-align: center !important;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 2vw 1vw;
  margin: 5vh 0;
}

@media (max-width: 1045px) {
  .cards li {
    max-width: 50vw;
  }
}

@media (max-width: 690px) {
  .cards li {
    max-width: 100vw;
  }
  .user-comments {
    max-width: 50vw;
  }
  .user-comment-box form {
    max-width: 50vw;
  }

  .flex-form {
    margin: 5vh;
    width: 80vw;
  }

  .cards-card-4,
  .cards-hover-shadow:hover {
    width: 100%;
    margin-bottom: 5vh;
  }

  .cards-container {
    flex-direction: column;
    padding: 8vw;
  }
} ;
