<h1>My Restaurants</h1>

{{#each userRest.restaurants}}

  <div>
    <h3>{{name}}</h3>

    {{#each reviews}}
    <p>{{description}}</h3>
    <div class="rating">
      <input type="radio" id="star5" name="rating" value="5" disabled {{#is rating 5}} checked {{/is}} />
      <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
      <input type="radio" id="star4" name="rating" value="4" disabled {{#is rating 4}} checked {{/is}} />
      <label class="star" for="star4" title="Great" aria-hidden="true"></label>
      <input type="radio" id="star3" name="rating" value="3" disabled {{#is rating 3}} checked {{/is}} />
      <label class="star" for="star3" title="Good" aria-hidden="true"></label>
      <input type="radio" id="star2" name="rating" value="2" disabled {{#is rating 2}} checked {{/is}} />
      <label class="star" for="star2" title="Ok" aria-hidden="true"></label>
      <input type="radio" id="star1" name="rating" value="1" disabled {{#is rating 1}} checked {{/is}} />
      <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
    </div>
    <a href="/review-details/{{_id}}">See details</a>
    {{/each}}
  </div>

{{/each}}