<div class="rest-container">

  <div class="cover">
    <h1>Find your restaurant.</h1>
    <form action="/restaurant-create" method="post" class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" name="name" id="autocomplete" />
      <input type="submit" value="Search" />
      <input type="text" name="placeId" id="placeId" hidden />

      <img
        src=""
        width="300"
        height="300"
        name="imgRestaurant"
        id="imgRestaurant"
        style="display: none"
      />
      <div id="map"></div>
    </form>
  </div>

</div>