<h1>Create a restaurant</h1>

<form action="/restaurant-create" method="post">

  <label for="name"><b>Name</b></label>
  <br />
  <input type="text" name="name" id="autocomplete" style="width: 500px;" />
  <input type="text" name="placeId" id="placeId" hidden />

  <br />
  <br />

  <div id="map"></div>

  <button type="submit">Add restaurant</button>

</form>