<h1>Edit a restaurant</h1>

<form action="/restaurant-edit/{{_id}}" method="post">

  <label for="name"><b>Name</b></label>
  <br />
  <input type="text" name="name" id="name" value="{{name}}" required />

  <br />
  <br />

  <label for="description"><b>Description</b></label>
  <br />
  <textarea
    name="description"
    id="description"
    cols="20"
    rows="10"
  >{{description}}</textarea>

  <br />
  <br />

  {{!-- <label for="rating"><b>Rating</b></label>
  <br />
  <input type="number" name="rating" id="rating" value="{{rating}}" /> --}}

  <div class="rating">
    <input type="radio" id="star5" name="rating" value="5" />
    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
    <input type="radio" id="star4" name="rating" value="4" />
    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
    <input type="radio" id="star3" name="rating" value="3" />
    <label class="star" for="star3" title="Good" aria-hidden="true"></label>
    <input type="radio" id="star2" name="rating" value="2" />
    <label class="star" for="star2" title="Ok" aria-hidden="true"></label>
    <input type="radio" id="star1" name="rating" value="1" />
    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
  </div>

  <br />
  <br />

  <button type="submit">Edit</button>

</form>