<h1>Edit a restaurant</h1>

<form action="/restaurant-edit/{{_id}}" method="post">

  <label for="name"><b>Name</b></label>
  <br />
  <input type="text" name="name" id="name" value="{{name}}" required />

  <br />
  <br />

  <label for="description"><b>Description</b></label>
  <br />
  <textarea
    name="description"
    id="description"
    cols="20"
    rows="10"
  >{{description}}</textarea>

  <br />
  <br />

  <label for="rating"><b>Rating</b></label>
  <br />
  <input type="number" name="rating" id="rating" value="{{rating}}" />

  <br />
  <br />

  <button type="submit">Edit</button>

</form>